* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #e3d8d8;
    /* background-image: url("./images/bg3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}



.logo {
    float: left;
    font-size: 2.5em;
    color: rgb(234, 195, 195);
    margin-top: 20px;
    margin-left: 7%;
    font-family: cursive;
    animation: logoAnimie 2s infinite ease-in;
}

@keyframes logoAnimie {
    0% {
        color: red;
    }

    20% {
        color: yellow;
    }

    45% {
        color: #ccccff;
    }

    90% {
        color: #ada8b5;
    }

    100% {
        color: rgb(234, 195, 195);
    }
}

nav {
    background-color: rgb(34, 23, 23);
    /* background-color: white; */
    width: 100%;
    height: 70px;
    border-radius: 10px;
    margin-top: 8px;
    box-shadow: 10px 10px 5px rgb(53, 49, 49);
    /* align-items: center;
        justify-content: center; */

    position: fixed;
    top: 0;
}

nav {
    z-index: 10;
}

nav ul {
    display: flex;
    list-style: none;
    float: right;
    margin-top: 20px;


}

nav ul li a {
    position: relative;
}

#dark-mode {
    position: relative;
}

#light-mode {
    display: none;

}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(184, 166, 201);
    text-align: center;
    padding: 10px;
    margin: 10px;

    font-weight: 200;
}



nav a:hover {
    background-color: aquamarine;
    color: rgb(69, 10, 10);
    font-weight: 700;
    border-radius: 10px;
    transition: 0.5s ease;
}

/* main-container */
.intro-container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    margin-top: 8%;
}

/* about me */

.about-me {
    /* background-color: rgb(228, 177, 177); */
    width: 60%;
    height: 130vh;
    border-radius: 20px;
}

.about-me h1 {
    display: flex;
    align-items: end;
    margin-top: 20px;
    margin: 20px;
    margin-left: 10%;
    /* justify-content: center; */
    height: 20vh;
    font-family: cursive;
    font-size: 3em;
    font-weight: bolder;
    color: rgb(70, 79, 79);
    animation: slideIn 4s ease;
}

@keyframes slideIn {
    from {
        margin-left: 0%;

    }

    to {

        margin-left: 10%;
    }

    0% {
        color: red;
    }

    40% {
        color: orange;
    }

    80% {
        color: lime;
    }

    100% {
        color: rgb(70, 79, 79);
    }
}

.about-me p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin: 30px;
    margin-left: 17%;
    font-weight: 400;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* my photo */
.my-photo {
    /* background-color: rgb(230, 158, 158); */
    width: 40%;
    height: 130vh;
    border-radius: 20px;
    /* padding: 5px;
        padding-left: 20%; */
}

.my-photo img {
    /* background-color: rgb(204, 114, 114); */
    width: 90%;
    height: 80%;
    border-radius: 30%;
    margin-top: 20%;
    margin-left: 10%;
    box-shadow: 10px 10px 5px rgb(234, 188, 128);
    filter: drop-shadow(10px 10px 5px rgb(242, 217, 167));

}

.why-me-container {
    animation: reveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 40%;
}

.why-me-container h1 {
    font-size: 4em;
    font-family: cursive;
    display: flex;
    align-items: end;
    margin: 20px;
    margin-left: 6%;
}

.why-me-container li {
    margin-top: 10px;
    margin-left: 100px;
    height: 10vh;
    list-style: none;
    font-size: 3em;
    margin-bottom: 8rem;
}


/* my-skills */

.skills-title {
    margin: 3%;
    margin-left: 6%;
    font-size: 4em;
    color: rgb(17, 59, 59);
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(226, 189, 189);
    width: 28%;
    padding: 10px;
    border-radius: 10px;
}


.my-skills-container {
    /*  background-color: rgb(233, 152, 152); */
    height: 180vh;
    width: 99%;

    /* display: flex;     */
    margin: 20px;
    border-radius: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.box {
    background-color: #e0bfe8;
    border: 2px solid black;
    /* padding: 180px; */
    padding: 20px;
    width: 23%;
    height: 40vh;

    border-radius: 20px;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: block;
    filter: drop-shadow(10px 10px 20px);
    overflow: auto;

    animation: reveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;

}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.box img {
    margin-top: 20%;
    margin-left: 25%;
    width: 150px;
    border-radius: 35px;
    filter: drop-shadow(10px 10px 14px);
}

.box h2 {
    display: none;
}

.box li {
    display: none;
}

.box:hover h1 {
    display: none;
}

.box:hover h2 {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2em;
    color: rgb(91, 55, 8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box:hover li {
    margin-top: 13px;
    /* align-items: center;
    justify-content: center; */
    display: flex;
    font-size: 1.5em;
    color: rgb(60, 20, 5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* transition: 10s ease; */
}

.footer {
    justify-content: center;
    align-items: center;
    display: flex;
}

#contact {
    /* border: 2px solid rgb(21, 12, 1); */
    background-color: #e7d4d4;
    width: 90%;
    height: 60svh;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 2em;
    font-family: monospace;

    animation: reveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

#contact textarea {
    font-size: 1em;
    border-radius: 10px;
    padding: 5px;
    resize: none;
    cursor: pointer;

}

#suggest-statement {
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#email-address,
#name {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 15%;
    padding: 12px;
    font-size: medium;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

#submit-suggestions-btn {
    padding: 5px;
    border-radius: 5px;
    background-color: #99ff99;
    font-size: 0.6em;
    /* cursor: progress;    */
}

#submit-suggestions-btn:hover {
    padding: 7px;
    border-radius: 10px;
    background-color: #1b6796;
    color: white;
}

.connect {
    font-size: 1em;
}

.social-links {
    font-size: 2em;
    display: flex;
    justify-content: space-around;
}

.social-links a {
    text-decoration: none;
    color: black;

}

.social-links a:hover {
    text-decoration: none;
    color: black;
    background-color: #6b6b6b;
    padding: 6px;
    border-radius: 10px
}

#ham {
    display: none;
}

#close {
    display: none;

}

/* Responsive */


@media screen and (max-width: 768px) {
    .my-skills-container {
        z-index: 1;
    }

    nav {
        z-index: 10;
        width: 95%;

    }

    nav ul {
        display: none;
        padding: 5px;
        width: 50%;
        height: 45vh;
        top: 40px;
        left: 0;
    }

    #light-mode {
        display: none;
    }

    nav a {
        font-size: 2em;

        /* padding: 30px; */

    }


    nav a:hover {
        padding: 5px;
    }

    h1 {
        color: rgb(94, 87, 90);
    }


    #ham {
        margin: 22px;
        color: white;
        float: right;
        display: flex;
        font-size: 2em;
    }

    #close {
        margin: 22px;
        color: white;
        float: right;

    }

    .intro-container {

        margin-top: 35%;
        /*margin-top: 20%;*/
    }

    .about-me {
        margin-top: 1vh;
        height: 90vh;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }

    .about-me h1 {
        margin: 20px;
        margin-left: 10%;
        /* justify-content: center; */
        height: 20vh;

        font-size: 50px;

        color: rgb(70, 79, 79);
    }

    .about-me p {

        height: 24vh;
        margin: 30px;
        margin-left: 17%;
        font-size: 15px;
    }

    .my-photo {
        /* background-color: rgb(230, 158, 158); */
        width: 30%;
        height: 40vh;

        /* padding: 5px;
          padding-left: 20%; */


    }

    .my-photo img {
        background-color: rgb(204, 114, 114);
        width: 90%;
        height: 80%;
        border-radius: 40%;

    }

    .why-me-container {
        height: 100vh;
        width: 100%;
        background-color: #f3d1c5;
        /* display: flex;     */
        padding-top: 20px;
        font-family: monospace;
        border-radius: 66px 99px 36px 99px;
        animation: reveal ease-in-out both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
    }

    @keyframes reveal {
        from {
            opacity: 0;
            trasform: translateY(100px);
        }

        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .why-me-container h1 {
        margin-left: 20px;
        font-size: 3em;
    }

    .why-me-container li {
        margin-top: 10px;
        margin-left: 60px;
        height: 0vh;
        list-style: none;
        font-size: 1.5em;


    }



    .skills-title {
        font-size: 2em;
        /* background-color: rgb(233, 152, 152); */
        width: 50%;
        padding: 10px;
        border-radius: 10px;

        animation: reveal ease-in-out both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
    }

    .my-skills-container {
        height: 130vh;
        width: 94%;
        /* display: flex;     */
        margin: 15px;
        border-radius: 20px;
        position: unset;

        animation: reveal ease-in-out both;
        animation-timeline: view();
        animation-range: entry 50% cover 40%;
    }

    .box {
        background-color: rgb(165, 231, 240);
        border: 2px solid black;
        /* padding: 180px; */
        padding: 20px;
        width: 15%;
        height: 30vh;
        border-radius: 20px;

        /*border-radius: 20px; */
        margin-top: 3%;
        align-items: center;
        justify-content: center;
        display: block;
        filter: drop-shadow(8px 8px 2px);
        overflow: auto;
    }

    .box img {
        margin-top: 50%;
        margin-left: -5px;
        width: 50px;
        border-radius: 35px;
        filter: drop-shadow(10px 10px 14px);
    }

    .box h2 {
        display: none;
    }

    .box li {
        display: none;
    }

    .box:hover h1 {
        display: none;
    }

    .box:hover h2 {
        font-size: 1em;
        color: rgb(91, 55, 8);

    }

    .box:hover li {
        margin-top: 8px;
        font-size: .7em;
    }


    #contact {
        height: 60svh;
        padding: 10px;
        font-size: 1em;

        animation: reveal ease-in-out both;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }



    #suggest-statement {
        font-size: 15px;
        margin-bottom: 5px
    }

    #email-address,
    #name {
        font-size: medium;
        margin-top: 10px;
        width: 30%;
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid black;
    }

    #submit-suggestions-btn {
        padding: 5px;
        border-radius: 5px;
        background-color: #99ff99;
        font-size: medium;
    }

    #submit-suggestions-btn:hover {
        padding: 7px;
        border-radius: 10px;
        background-color: #1b6796;
        color: white;
    }



    .connect {
        font-size: 2em;
    }

    .social-links {
        font-size: 2em;
        display: flex;
        justify-content: space-around;
    }

}






/* Memories CSS */


.memories-heading {
    margin-top: 100px;
    font-size: 2em;
    font-family: cursive;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.memories-heading img {
    width: 60%;
    height: 50%;
    border-radius: 20px;
    margin-left: 21%;

    animation: reveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

.memories-main-container {
    height: 140vh;
    width: 94%;
    /* display: flex;     */
    margin: 15px;
    border-radius: 20px;
    position: unset;
    margin-top: 100px;

    animation: reveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 30%;
}


.mem-box {
    background-color: rgb(102, 255, 207);
    border: 2px solid black;
    /* padding: 180px; */
    padding: 20px;
    width: 22%;
    height: 25vh;

    border-radius: 20px;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: block;
    filter: drop-shadow(8px 8px 2px rgb(130, 234, 130));
    /* overscroll-behavior: contain; */
    overflow: auto;
}

.side-heading {
    margin-top: 1rem;
    font-size: 2.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.front-mem,
.back-mem,
.tech-mem {
    display: flex;
    justify-content: space-around;

}

.mem-box:hover {
    transform: rotateY(180deg);
    transition: 2s ease;
    background-color: #ccccff;
}

.mem-box h1 {
    font-size: 1.5em;
}

/* .mem-box{
      display: flex;
  } */

.mem-box:hover h1 {
    display: none;
}

.mem-box p {
    display: none;
}


.mem-box:hover p {
    transform: rotateY(180deg);
    transition: 3s ease;
    display: flex;
}

.mem-box a {
    text-decoration: none;
    font-size: 1.2em;
    padding: 3px;
}

.mem-box a:hover {
    background-color: rgb(2, 50, 2);
    color: #e9c5ba;
    border-radius: 10px;
    padding: 3px;
}

@media screen and (max-width: 768px) {
    .memories-heading img {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin-left: 0%;

        animation: reveal ease-in-out both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
    }

    .mem-box {
        background-color: rgb(102, 255, 207);

        /* padding: 180px; */
        padding: 10px;
        width: 24%;
        height: 25vh;

        border-radius: 20px;
        margin-top: 3%;
        align-items: center;
        justify-content: center;
        display: block;
        filter: drop-shadow(8px 8px 2px rgb(130, 234, 130));
        /* overscroll-behavior: contain; */
        overflow: auto;
    }
    .side-heading {
        font-size: 2em;
    }
    .mem-box h1 {
        font-size: 1em;
    }
    .mem-box p {
        font-size: .8em;
    }

}




/* Projects  */
.projects-header-content {
    margin: 20% 0 3% 10px;
    font-family: cursive;
    font-size: 2em;
    filter: drop-shadow(5px 10px 10px black);
}

.projects-main-container {
    background-color: #dfd5ea;
    width: 100%;
    height: 140vh;
    margin-top: 10%;
    margin-bottom: 10%;
    /* padding: 0.5rem; */

    animation: reveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 40%;
}

.projects-main-container h1 {
    font-family: cursive;
    color: rgb(28, 3, 3);
    font-size: 3em;
}



.front-web-projects,
.full-stack-web-projects,
.aiml-projects {
    /* margin-top: 1rem;
      margin-left: 2rem; */
    margin: 2rem 0 2rem 0;
}

.front-web-projects h1,
.full-stack-web-projects h1,
.aiml-projects h1 {
    color: rgb(2, 45, 31);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    text-decoration: underline;
}

.front-web-links,
.fullstack-web-links,
.aiml-links {
    margin-top: 1rem;
    margin-left: 3rem;
    display: block;
    /* justify-content: space-around; */

}

.individual-project {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}


.front-web-links h3,
.fullstack-web-links h3,
.aiml-links h3 {
    font-size: 3em;
}

.front-web-links a,
.fullstack-web-links a,
.aiml-links a {
    font-size: 4em;
    text-decoration: none;
    color: black;
}

.ideas-textarea {
    margin: 20px;
    resize: none;
    width: 30rem;
    height: 20rem;
    border-radius: 20px;
    padding: 10px;
    font-size: 2em;

}

.front-web-links a:hover,
.fullstack-web-links a:hover,
.aiml-links a:hover {
    background-color: greenyellow;
    border-radius: 20px;
    padding: 3px;
    color: rgb(191, 20, 20);
}

.ideas {
    margin-top: 3rem;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ideas button {
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    background-color: #7dcd7d;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.ideas button:hover {
    background-color: #9090dc;

}

@media screen and (max-width: 768px) {
    .projects-main-container {
        width: 99%;
        height: 155vh;
        margin-top: 30%;
        margin-bottom: 10%;

        animation: reveal ease-in-out both;
        animation-timeline: view();
        animation-range: entry 50% cover 40%;
    }

    .front-web-links h3,
    .fullstack-web-links h3,
    .aiml-links h3 {
        font-size: 2em;
    }

    .projects-header-content {
        margin: 30% 0 3% 10px;
    }

    .front-web-links a,
    .fullstack-web-links a,
    .aiml-links a {
        font-size: 2em;

    }

    .front-web-projects h1,
    .full-stack-web-projects h1,
    .aiml-projects h1 {

        font-size: 2em;

    }

    .ideas {
        text-decoration: underline;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ideas button {
        border-radius: 10px;
        padding: 10px;
        width: 60%;
        background-color: #7dcd7d;
        font-size: 1em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
    }

    .ideas button:hover {
        background-color: #9090dc;

    }


}

/* Resume */


.resume-main-container {

    height: 20vh;
    margin-top: 6%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.download-resume {
    text-decoration: none;
    color: white;
    background-color: #009400;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5em;
}

.download-statement {
    font-size: 1.5em;
    margin-top: 10rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.download-resume:hover {
    background-color: #0000ff;
}

.just-view-resume,
.close-resume {
    background-color: #6b6b6b;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.just-view-resume:hover,
.close-resume:hover {
    background-color: #ffff00;
    color: #2e2e2e;
}

.view-resume {
    align-items: center;
    justify-content: center;
    display: flex;
}

/* .resume-holder{
    width: 90%;
    margin: 2rem;
    height: 100vh;
  } */
.resume-holder img {
    width: 100%;
    height: 130vh;
    display: none;
}

.close-resume {
    display: none;
}


@media screen and (max-width: 768px) {

    .resume-holder img {
        width: 100%;
        height: 100vh;
        display: none;
    }
}